<% provide(:title, "ログイン") %>
<section class="login text-center">
  <h1 class="mb-m">ログイン</h1>
  <%= form_for(:session, url: login_path, html: {class: "inline"}) do |f| %>
    <div class="mb-m">
      <%= f.email_field :email, placeholder: "Eメールアドレス", class: "session-form mb-ss" %>
      <%= f.password_field :password, placeholder: "パスワード", class: "session-form" %>
    </div>
    <%= f.label :remember_me, class: "block" do %>
      <%= f.check_box :remember_me %>
      <span>ログイン情報をブラウザに保存</span>
    <% end %>
    <%= f.submit "ログイン", class: "btn large-btn mb-s" %>
  <% end %>
  <p class="mb-s">まだ登録していなければ…<%= link_to "サインアップ", signup_path %></p>
  
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.hidden_field :email, value: "sample@sample.com", class: "form-control" %>
    <%= f.hidden_field :password, value: "password", class: "form-control" %>
    <%= f.submit "テストログイン", class: "btn midium-btn" %>
  <% end %>

  <%= link_to "Twitterでログイン", '/auth/twitter' %>
</section>