<h3>材料</h3>
<% if @recipe.ingredient.empty? %>
  <p>材料を入力しましょう</p>
<% else %>
  <% @recipe.ingredient.each do |ingredient| %>
    <% if ingredient.name.present? %>
      <p><%= ingredient.number %>…<%= ingredient.name %>:<%= ingredient.amount %></p>
    <% end %>
  <% end %>
<% end %>

<div class="col-md-6">
  <table class="table table-striped">
    <tr><th>名前</th><th>量</th></tr>
    <%= form_with model: @ingredients, url: ingredients_path, local: true do |form| %>
      <%= hidden_field_tag :recipe_id, @recipe.id %>
      
      <% @ingredients.collection.each_with_index do |ingredient, i| %>
        <%= fields_for 'ingredients[]', ingredient do |field| %>
          <tr>
            <% if @recipe.ingredient.find_by(number: "#{(i+1)}") && @recipe.ingredient.find_by(number: "#{(i+1)}").name.present? %>
              <td><%= field.text_field :name, value: @recipe.ingredient.find_by(number: "#{(i+1)}").name %></td>
              <td><%= field.text_field :amount, value: @recipe.ingredient.find_by(number: "#{(i+1)}").amount %></td>
            <% else %>
              <td><%= field.text_field :name, placeholder: "材料名" %></td>
              <td><%= field.text_field :amount, placeholder: "量" %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      
      <td><%= form.submit %></td>
      
    <% end %>
  </table>
</div>