<% @recipe.procedure.each_with_index do |procedure,i| %>
  <% unless procedure.id.nil? %>
    <div class="procedure-list flex flex-left">
      <%= render "procedures_show", {i: i, procedure: procedure} %>
    </div>
    <dt><a>手順を変更する</a></dt>
    <dd>
      <div class="flex">
        <div>
          <%= "#{(i+1)}"%>:
        </div>
        <div class="procedure-input-textarea">
          <%= form_with model: @procedure, url: procedures_path do |form| %>
            <% existing_procedure = @recipe.procedure.find_by(number: "#{(i+1)}")%>
            <%= hidden_field_tag :recipe_id, @recipe.id %>
            <%= form.text_area :content , value: existing_procedure.content if existing_procedure %>
            <%= form.hidden_field :number, value: "#{(i+1)}" %>
            <%= form.submit "保存" %>
          <% end %>
        </div>
        <div class="flex flex-end">
          <%= form_with url: procedures_change_before_path do |form| %>
            <%= hidden_field_tag :recipe_id, @recipe.id %>
            <%= hidden_field_tag :number, "#{(i+1)}" %>
            <%= form.submit "↑", class: "change_content_button" %>
          <% end %>
        
          <%= form_with url: procedures_change_after_path do |form| %>
            <%= hidden_field_tag :recipe_id, @recipe.id %>
            <%= hidden_field_tag :number, "#{(i+1)}" %>
            <%= form.submit "↓", class: "change_content_button" %>
          <% end %>
        </div>
      </div>
    </dd>
  <% end %>
<% end %>