<% if @recipe.procedure.count == 0 %>
  <% loop_count = 4 %>
<% else %>
  <% loop_count = @recipe.procedure.count + 1 %>
<% end %>

<% loop_count.times.with_index do |i| %>
  <% procedure = @recipe.procedure.find_by(number: (i+1)) %>
  <!--ループエンド時の処理-->
  <% if loop_count == (i+1) %>
    <div class="btn-wrapper">
      <%= form_with model: @procedure, url: procedures_path do |form| %>
        <%= hidden_field_tag :recipe_id, @recipe.id %>
        <%= form.hidden_field :content, value: "テスト" %>
        <%= form.hidden_field :number, value: "#{(i+1)}" %>
        <%= form.submit "追加する" %>
      <% end %>
    </div>
  <!--ループ回数と合致するprocedureが存在した場合-->
  <% elsif procedure %>
  <div class="procedure-box">
    <div class="procedure-list flex flex-left">
      <%= render "recipes/procedures_show", {i: i, procedure: procedure} %>
    </div>
    <dt class="pr10"><a>手順を変更する</a></dt>
    <dd>
      
        <div class="procedure-input-textarea">
          <%= form_with model: @procedure, url: procedures_path do |form| %>
            <%= hidden_field_tag :recipe_id, @recipe.id %>
            <%= form.text_area :content, placeholder: "手順を入力しましょう", value: procedure.content if procedure.content.present? %>
            <%= form.hidden_field :number, value: "#{(i+1)}" %>
            <%= form.submit "保存" %>
          <% end %>
        </div>
        
        <div class="flex flex-end">
          <% unless i == 0 %>
            <%= form_with url: procedures_change_before_path do |form| %>
              <%= hidden_field_tag :recipe_id, @recipe.id %>
              <%= hidden_field_tag :number, procedure.number %>
              <%= form.submit "↑", class: "change_content_button" %>
            <% end %>
          <% end %>
          
          <% unless i == @recipe.procedure.count %>
            <%= form_with url: procedures_change_after_path do |form| %>
              <%= hidden_field_tag :recipe_id, @recipe.id %>
              <%= hidden_field_tag :number, procedure.number %>
              <%= form.submit "↓", class: "change_content_button" %>
            <% end %>
          <% end %>
          
        </div>
        <p class="text-right">
          <%= link_to "削除", procedure_path(procedure), method: :delete %>
        </p>
      
    </dd>
  </div>
  <!--ループ回数と合致するprocedureが存在しない場合-->
  <% else %>
    <div class="procedure-list flex flex-left">
      <div><%= "#{(i+1)}"%>:</div>
      <div id="procedure-show-<%= "#{(i+1)}" %>" ></div>
    </div>
    
    <dt class="pr10"><a>手順を変更する</a></dt>
    
    <dd>
      <div class="flex">
        <div>
          <%= "#{(i+1)}"%>:
        </div>
        <div class="procedure-input-textarea">
          <%= form_with model: @procedure, url: procedures_path do |form| %>
            <%= hidden_field_tag :recipe_id, @recipe.id %>
            <%= form.text_area :content, placeholder: "手順を入力しましょう" %>
            <%= form.hidden_field :number, value: "#{(i+1)}" %>
            <%= form.submit "保存" %>
          <% end %>
        </div>
        
        <div class="flex flex-end">
          <% unless i == 0 %>
            <%= form_with url: procedures_change_before_path do |form| %>
              <%= hidden_field_tag :recipe_id, @recipe.id %>
              <%= hidden_field_tag :number, "#{(i+1)}" %>
              <%= form.submit "↑", class: "change_content_button" %>
            <% end %>
          <% end %>
          
          <% unless i == 4 %>
            <%= form_with url: procedures_change_after_path do |form| %>
              <%= hidden_field_tag :recipe_id, @recipe.id %>
              <%= hidden_field_tag :number, "#{(i+1)}" %>
              <%= form.submit "↓", class: "change_content_button" %>
            <% end %>
          <% end %>
          <%= link_to "削除" %>
        </div>
      </div>
    </dd>
  <% end %>
<% end %>