<h1><%= @recipe.name %></h1>
<div class="d-flex">
  
  <div class="row">
    <%= render "recipes/ingredient_form" %>
  </div>
  
  <div class="row">
    <%= render "recipes/procedure_form" %>
  </div>
  
</div>

<div class="row">
<h3>コメント</h3>
  <%= form_for(@recipe) do |form| %>
    <% if @recipe.comment.nil? %>
      <%= form.text_area :comment, placeholder: "コメントを入力しましょう" %>
    <% else %>
      <%= form.text_area :comment, value: @recipe.comment %>
    <% end %>
    <div class="col-md-1">
      <%= form.submit "保存"%>
    </div>
  <% end %>
</div>
<div class="row">
  <%= link_to "投稿する", recipe_path(@recipe) %>
</div>