<h1><%= @recipe.name %></h1>
<div class="d-flex">
  
  <div class="row">
    <%= render "recipes/ingredient_form" %>
  </div>
  
  <div class="row">
    <%= render "recipes/procedure_form" %>
  </div>
  
</div>

<div class="row">
<h3>コメント</h3>
  <%= form_for(@recipe) do |form| %>
    <% if @recipe.comment.nil? %>
      <%= form.text_area :comment, placeholder: "コメントを入力しましょう" %>
    <% else %>
      <%= form.text_area :comment, value: @recipe.comment %>
    <% end %>
    <div class="col-md-1">
      <%= form.submit "保存"%>
    </div>
  <% end %>
</div>

<div class="row">
  <%= form_with url: release_recipe_path(@recipe), method: :patch, local: true do |form| %>
    <%= form.hidden_field :release, value: false %>
    <%= form.submit "下書きとして保存" %>
  <% end %>
  
  <%= form_with url: release_recipe_path(@recipe), method: :patch, local: true do |form| %>
   <%= form.hidden_field :release, value: true %>
   <%= form.submit "レシピを公開する" %>
  <% end %>
</div>