<div class="recipes-edit content-inner">
  
  <section class="recipe-name">
    <div class="label gray-label mb-s">
      <h3>レシピの名前</h3>
    </div>
    <div class="content-inner">
      <h1 id="recipe-title"><%= @recipe.name %></h1>
      <dt><a>名前を変更する</a></dt>
      <dd>
        <%= form_with model: @recipe do |f| %>
          <%= f.text_area :name, placeholder: "レシピの名前を入力しましょう", value: @recipe.name %>
          <div class="btn-right">
            <%= f.submit "変更", class: "btn mini-btn"%>
          </div>
        <% end %>
      </dd>
    </div>
  </section>
  
  <section class="recipe-comment">
    <div class="label gray-label mb-s">
      <h3>コメント</h3>
    </div>
    <div class="content-inner">
      <%= render "recipes/recipe_comment_form" %>
    </div>
  </section>
  
  <section>
    <div class="label gray-label mb-s">
      <h3>写真</h3>
    </div>
    <div class="text-center recipes-edit-img mb-s">
      <%= image_tag @recipe.image.url %>
    </div>
    <div class="btn-center mb-l">
      <%= form_with model: @recipe, url: update_recipe_path, local: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.hidden_field :image_cache %>
        <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" ,class: "mb-s"%>
          <div>
            <%= button_tag type:"submit", class: "clear-btn" do %>
              <%= icon('fas','camera') %><%= "イメージを登録" %>
            <% end %>
          </div>
      <% end %>
    </div>
  </section>
    
  <section>
    <div class="label gray-label mb-s">
      <h3>材料</h3>
    </div>
    <%= render "recipes/ingredients/form" %>
  </section>
  
  <section class="mb-ll">
    <div class="label gray-label mb-s">
      <h3>調理の手順</h3>
    </div>
    <div id="procedure-form">
      <%= render "recipes/procedures/form" %>
    </div>
  </section>

  <div class="btn-center mb-ss">
    <%= form_with url: release_recipe_path(@recipe), method: :patch, local: true do |form| %>
     <%= form.hidden_field :release, value: true %>
     <%= form.submit "レシピを公開する", class: "important-btn large-btn" %>
    <% end %>
  </div>
  <div class="text-center mb-ss">
    <p>or</p>
  </div>
  <div class="btn-center mb-l">
    <%= form_with url: release_recipe_path(@recipe), method: :patch, local: true do |form| %>
      <%= form.hidden_field :release, value: false %>
      <%= form.submit "プライベートで保存" ,class: "btn midium-btn"%>
    <% end %>
  </div>

  <div class="btn-center">
    <%= link_to "レシピを削除", recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除しますか？"} %>
  </div>
</div>