<h1>レシピ一覧</h1>

<%= form_tag(recipes_path, :method => "get") do %>
  <%= label_tag :search, "レシピを検索" %>
  <%= text_field_tag :search %>
  <%= submit_tag "検索", :name => nil %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>レシピタイトル</th>
    <th>作成したユーザー</th>
  </tr>
  
  <% @recipes.each do |r| %>
    <tr>
      <td><%= link_to "#{r.name}", recipe_path(r) %></td>
      <td><%= link_to "#{User.find_by(id: r.user_id ).name}", user_path(id: r.user_id) %></td>
    </tr>
  <% end %>
</table>
<%= paginate @recipes %>