<div class="content-inner">
  <div class="label gray-label">
    <% if @keyword.nil? %>
      <h3>レシピ一覧(<%= @recipes_count.count %>件)</h3>
    <% elsif @keyword.empty? %>
      <h3>レシピ一覧(<%= @recipes_count.count %>件)</h3>
    <% else %>
      <h3>"<%= @keyword %>"の検索結果(<%= @recipes_count.count %>件)</h3>
    <% end %>
  </div>
  <div>
    <% if @recipes.present? %>
      <% @recipes.each do |recipe| %>
        <%= render "layouts/recipe_list", recipe: recipe %>
      <% end %>
    <% else %>
      <p>"<%= @keyword %>"を含むレシピは見つかりませんでした(><;)</p>
      <p>まだ検索機能が弱いので許してください(><;)</p>
    <% end %>
    <%= paginate @recipes %>
  </div>
</div>