<section>
  <div class="recipes-show-img">
    <img src="<%= @recipe.image.url %>" ></img>
  </div>
</section>
<div class="content-inner">
  <section>
    <h1 class="mb-s"><%= @recipe.name %></h1>
    <p class="mb-s"><%= @recipe.comment %></p>
    by<%= link_to "#{@recipe.user.name}", user_path(@recipe.user) %>
  </section>
  <section>
    <div class="recipe-show-funcbox text-center">
      <div class="funcbox-item">
        <%= link_to @tweet_url, onclick: "window.open(this.href, 'foo','height=400,width=600');return false", class:"tweet-btn" do %>
          <%= icon('fab','twitter') %><%= "ツイートする" %>
        <% end %>
      </div>
      <% if logged_in? %>
        <div class="funcbox-item text-center">
          <div class="like-func">
            <% if current_user.like?(@recipe) %>
              <%= render "unlike" %>
            <% else %>
              <%= render "like" %>
            <% end %>
          </div>
        </div>
        <div class="funcbox-item text-center">
          <div id="book-icon-<%= @recipe.id %>">
            <% if current_user.book?(@recipe) %>
              <%= render "unbook" %>
            <% else %>
              <%= render "book" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>


  <section>
    <div class="label gray-label">
      <h3>材料</h3>
    </div>
    <div>
      <% @recipe.ingredient.each do |ingredient| %>
        <% if ingredient.name.present? %>
          <div class="ingredient-list flex flex-between">
            <div><%= ingredient.name %></div>
            <div><%= ingredient.amount %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
  <section>
    <div class="label gray-label">
      <h3>手順</h3>
    </div>
    <div>
      <% @recipe.procedure.order(number: "ASC").each do |procedure| %>
        <div class="procedure-list flex flex-left">
          <div><%= procedure.number %>:</div>
          <div><%= procedure.content %></div>
        </div>
      <% end %>
    </div>
  </section>

  <section>
    <div class="label gray-label mb-s">
      <h3>ユーザーからのコメント</h3>
    </div>
    
    <div class="content-inner">
      <div class="impression-show mb-m">
        <%= render "impression_show" %>
      </div>
      
      <div class="impression-form">
        <%= render "impression_form" %>
      </div>
    </div>
  </section>
</div>