<h1><%= @recipe.name %></h1>
<h2>作成者:<%= link_to "#{ User.find_by(id: @recipe.user_id).name}", user_path(id: @recipe.user_id) %></h2>
<h3>材料</h3>
<% @recipe.ingredient.each do |ingredient| %>
  <% if ingredient.name.present? %>
  <p><%= ingredient.name %>:<%= ingredient.amount %></p>
  <% end %>
<% end %>
<h3>手順</h3>
<% @recipe.procedure.each do |procedure| %>
  <% if procedure.content.present? %>
    <p><%= procedure.number%>:<%= procedure.content %></p>
  <% end %>
<% end %>

<p>コメント：<%= @recipe.comment %></p>