<p>プロフィール:
  <div class="profile_ajax">
    <%= @user.profile_text %>
  </div>
</p>

<% if current_user == @user %>
  <div class="row">
    <a href="#edit_profile" data-toggle="collapse">変更</a>
  </div>
  <div id="edit_profile" class="collapse">
    <%= form_for(@user, remote: true) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
      <%= f.label :profile_text, "プロフィール" %>
      <%= f.text_field :profile_text, class: "form-control" %>
      
      <%= f.submit "プロフィールの変更", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
