<p>プロフィール:<%= @user.profile_text %></p>

<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages" %>
  
  <%= f.label :profile_text, "プロフィール" %>
  <%= f.text_field :profile_text, class: "form-control" %>
  
  <%= f.submit "プロフィールの変更", class: "btn btn-primary" %>
<% end %>
