<% provide(:title, "プロフィールの変更") %>
<section class="user-edit text-center mb-l">
  <h1 class="mb-m">プロフィールの変更</h1>
  
  <div class="user-icon">
    <%= image_tag @user.image.url %>
  </div>
  <%= form_with model: @user, url: user_path, local: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
    <%= f.hidden_field :image_cache %>
    <div class="btn-center">
      <%= button_tag type: "submit", class: "clear-btn mb-l" do %>
        <%= icon('fas','camera') %><%= "イメージを登録" %>
      <% end %>
    </div>
  <% end %>
  <%= form_for(@user,html: {class: "inline"}) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    
    <p><%= f.label :name, "ニックネーム" %></p>
    <%= f.text_field :name, class: "session-form mb-s" %>
    
    <p><%= f.label :profile_text, "プロフィール文" %></p>
    <%= f.text_field :profile_text, class: "session-form mb-s" %>
    
    <% if @user.provider.nil? %>
      <p><%= f.label :email, "メールアドレス" %></p>
      <%= f.email_field :email, class: "session-form mb-s" %>
      
      <p><%= f.label :password, "パスワード" %></p>
      <%= f.password_field :password, class: "session-form mb-s" %>
      
      <p><%= f.label :password_confirmation, "パスワードの再入力" %></p>
      <%= f.password_field :password_confirmation, class: "session-form mb-m" %>
      
      <%= f.submit "変更", class: "btn large-btn" %>
    <% end %>
  <% end %>
</section>

<div class="text-center">
  <%= link_to "プロフィールへ戻る", @user %>
</div>