<% provide(:title, "ユーザープロフィール")%>

<div class="flex">
  <img src="http://placehold.jp/100x100.png"></img>
  <div class="profile_text">
    <h3><%= @user.name %></h3>
    <%= render "profile" %>
  </div>
</div>

<section>
  <h3>投稿したレシピ(<%= @recipes_count.count %>)</h3>
  <%= render "posted_recipe" %>
  <%= paginate @recipes %>
</section>

<section>
  <h3>イイネしたレシピ(<%= @like_recipes_count.count %>)</h3>
  <%= render "liked_recipe" %>
  <%= paginate @like_recipes, param_name: "like_page" %>
</section>

<section>
  <h3>ブックマークしたレシピ(<%= @book_recipes_count.count %>)</h3>
  <%= render "booked_recipe" %>
  <%= paginate @book_recipes, param_name: "book_page" %>
</section>

<section>
  <% if current_user == @user %>
    <h3>未公開のレシピ(<%= @draft_recipes_count.count %>)</h3>
    <%= render "draft_recipe" %>
  <% end %>
</section>