<section>
  <% @procedures.each do |procedure| %>
    <% unless procedure.content.nil? %>
      <div class="formbox procedure-box" data-formno="<%= procedure.number %>" >
        <div class="procedure-list flex flex-left">
          <div class="formbox-no"><%= procedure.number %></div>:
          <div class="procedure-show" name="number[<%= procedure.number %>]"><%= procedure.content %></div>
        </div>
  
        <div class="procedure-input-textarea">
          <%= form_with model: @procedure, url: procedures_update_path, method: :patch do |form| %>
            <%= hidden_field_tag :recipe_id, @recipe.id %>
            <%= hidden_field_tag :number, procedure.number, class: "hidden-number" %>
            <%= form.text_area :content, placeholder: "手順を入力しましょう", value: procedure.content, id: "textarea#{procedure.number}" %>
            <div class="btn-center">
              <%= form.submit "保存する", class: "btn mini-btn" %>
            </div>
          <% end %>
        </div>

        <div class="flex flex-between content-inner">
          <%= form_with url: procedures_destroy_path, method: :delete do |form| %>
            <%= hidden_field_tag :recipe_id, @recipe.id %>
            <%= hidden_field_tag :number, procedure.number, class: "hidden-number" %>
            <%= form.submit "削除", class: "clear-btn" %>
           <% end %>
           
          <%= render "recipes/procedures/change_content_btn", procedure: procedure %>
        </div>
        
        
      
      </div>
    <% end %>
  <% end %>
</section>
<div class="btn-center">
  <%= form_with model: @procedure, url: procedures_path do |form| %>
    <%= hidden_field_tag :recipe_id, @recipe.id %>
    <%= form.hidden_field :content, value: "" %>
    <%= button_tag type: "submit", class: "btn clear-btn" do %>
      <%= icon('fas','plus-circle') %><%= "手順を追加" %>
    <% end %>
  <% end %>
</div>