<div class="flex flex-between">
	<div>
		<h1>
			<%= link_to root_url do %>
				<%= image_tag("wildrecipe_logo.png", class: "header-logo") %>
			<% end %>
		</h1>
	</div>
	<div class="header-menu-btn">
		<i class="fas fa-bars"></i>
	</div>
</div>
<% if logged_in? %>
	<%= form_tag(recipes_path, :method => "get",class: "flex") do %>
		<%= text_field_tag :search, "",placeholder: "レシピを検索" ,class: "header-search-form"%>
		<%= button_tag type: "submit",:name => nil ,class: "search-button" do %>
			<%= icon("fas", "search")%>
		<% end %>
	<% end %>
<% end %>
