<% author = recipe.user %>
<div class="recipe_box flex flex-between">
  <div class="recipe-box-img">
    <img src="<%= recipe.image.url %>"></img>
  </div>
  <div class="recipe_content">
    <div class="recipe_title">
      <h3><%= link_to "#{recipe.name}", recipe_path(recipe) %></h3>
    </div>
    <div class="recipe_comment">
      <%= recipe.comment %>
    </div>
    <div class="recipe_author">
      by <%= link_to "#{author.name}", user_path(author) %>
    </div>
  </div>

  <div id="book-icon-<%= recipe.id %>">
    <% if logged_in? %>
      <% if current_user.book?(recipe) %>
        <%= render "recipes/unbook", :book_recipe => recipe %>
      <% else %>
        <%= render "recipes/book", :book_recipe => recipe %>
      <% end %>
    <% end %>
  </div>
  
  <% if current_user == author %>
    <%= link_to "編集", edit_recipe_path(id: recipe.id), class: "recipes-edit-btn" %>
  <% end %>
</div>