<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <dl class="hiddenform">
        <header>
          <div class="header-container">
            <%= render "layouts/slidemenu" %>
            <%= render "layouts/header" %>
          </div>
        </header>
        <% flash.each do |message_type, message|%>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}" ) %>
        <% end %>
        <div class="flex flex-center">
          <%= render "layouts/clearside"%>
          <div class="container">
            <%= yield %>
          </div>
          <%= render "layouts/side" %>
        </div>
        <!--<%= debug(params) if Rails.env.development? %>-->
        <div class="footer-clearbox"></div>
        <footer class="text-center">
          <small>&copy;WildRecipe</small>
        </footer>
      </dl>
    </div>
  </body>
</html>
